.MuiSelect-select.MuiSelect-select {
	padding: 5px;
	text-align: center;
	border: none;
	font-size: 0.975em;
	font-weight: 400;
	line-height: 1.43;
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}
