.dog {
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    75% 75%,
    75% 100%,
    50% 75%,
    0% 75%
  );
  background-color: #92e3a9;
  border-radius: 5px;
  width: 150px;
  height: 75px;

  position: relative;
  right: 100px;
  bottom: -30px;

  animation: hideAnimation 0s ease-in 4s;
  animation-fill-mode: forwards;
  font-style: italic;
}

@keyframes hideAnimation {
  to {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}

.text {
  color: black;
  text-align: center;
}
