.layoutComponent {
	display: flex;
	/* justify-content: flex-end;6 */
	height: 100%;
}

.right {
	/* margin-left: 20%; */
	width: 87%;
	display: flex;
	flex-direction: column;
}
.left {
	width: 13%;
}
