.layoutComponent {
  display: flex;
}
.right {
  width: 87%;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.left {
  width: 13%;
}
.children {
  height: 100%;
}
@media (min-width: 1600px) {
  .left {
    width: 8%;
  }
  .right {
    width: 92%;
  }
}
/* .dog {
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    75% 75%,
    75% 100%,
    50% 75%,
    0% 75%
  );
  background-image: radial-gradient(
    rgb(146, 227, 169),
    rgb(117, 182, 135),
    rgb(88, 136, 101)
  );
  width: 75px;
  height: 75px;
  bottom: 0;
  right: 0;
} */

.dog {
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    75% 75%,
    54% 100%,
    50% 75%,
    0% 75%
  );
  background-image: radial-gradient(
    rgb(146, 227, 169),
    rgb(117, 182, 135),
    rgb(88, 136, 101)
  );
  width: 100px;
  height: 175px;

  animation: hideAnimation 0s ease-in 5s;
  animation-fill-mode: forwards;
  font-style: italic;
}

@keyframes hideAnimation {
  to {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}
