.sidebar {
	position: fixed;
	height: 100vh;
	width: 13%;
	flex-direction: column;
	align-items: center;
	/* white-space: nowrap; */
	background-color: #401485;
	color: #fff;
	padding: 1em 0 0 0.3em;
}
.navigation li {
	margin-bottom: 0.4em;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 1.2em;
	font-weight: 100;
	color: rgb(221, 221, 221);
	padding: 0 0.9em 0 0.5em;
	margin-left: 1em;
}
.navigation {
	display: flex;
	padding-left: 1em;
	flex-direction: column;
}
.sidebar section {
	margin: 0 0.5em 0.8em;
}
.navigation {
	padding: 0;
}
section img {
	width: 200px;
}

@media (max-width: 1315px) {
	li span {
		display: none;
	}
	li p {
		height: 30px;
	}
	.sidebar {
		padding: 2em 0 0 0;
	}
}

@media (max-width: 570px) {
	section p {
		display: none;
	}
	.sidebar {
		padding: 0;
	}
	.navigation li {
		margin: 0;
	}
}
@media (min-width: 570px) {
	section img {
		display: none;
	}
}
